body {
    margin: 50px 15vw 50px 15vw;
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
}

img {
    float: left;
    max-width: 30vw;
    max-height: 50vh;
    margin: 0 10px;
}






.clearfix::after {
    content: "";
    clear: both;
    display: table;
}